body::-webkit-scrollbar {
  width: 0;
  background-color: transparent;
}

body {
  scrollbar-width: none;
  overflow: visible !important;
}

body.modal-open {
  overflow: hidden !important;
}

/* Profile Setup */
#edit-profile-form,
#setup-profile-form {
  max-width: 470px !important;
}

.edit-profile-card {
  width: 100% !important;
}

.profile-picture-picker-image {
  height: 72px;
  width: 72px;
  object-fit: cover;
  object-position: center;
}

.choose-profile-picture-label:hover {
  cursor: pointer;
  pointer-events: all !important;
}

/* Errors */
.just-validate-error-label {
  margin: 3px 0 0 0;
  font-size: 0.95rem;
}

/* Login */
.container {
  max-width: 65%;
}

#login-error {
  display: none;
}

#login-error.visible {
  display: block;
}

.login-card {
  border: 0;
  border-radius: 27.5px;
  overflow: hidden;
}

.login-card-img {
  border-radius: 0;
  width: 100%;
  height: 100%;
  max-height: 670px;
  -o-object-fit: cover;
  object-fit: cover;
}

/* Register */
.register-card {
  border: 0;
  border-radius: 27.5px;
  overflow: hidden;
}

.register-card-img {
  border-radius: 0;
  max-height: 675px;
  -o-object-fit: cover;
  object-fit: cover;
}

/* Sidebar */
.sidebar {
  margin-top: 89px !important;
  width: 400px !important;
  max-height: calc(100vh - 86px) !important;
}

.nav-item.active:after {
  content: "";
  width: 3px;
  height: 24px;
  background-color: var(--bs-gray-600) !important;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.nav-link {
  font-size: 1.1rem;
}

.nav-link-icon {
  font-size: 1.3rem;
}

.sidebar-bio-text {
  max-height: 200px;
  overflow-y: auto;
}

/* Home */

.feed-container,
.profile-info {
  max-width: 640px;
  width: 100%;
}

.page-register,
.page-login,
.page-home,
.page-user-profile,
.page-settings,
.page-post {
  min-height: calc(100vh - (88px + 76px));
}

.footer {
  margin-left: 400px !important;
}

.page-login,
.page-register,
.page-profile-setup,
.page-login + .footer,
.page-register + .footer,
.page-profile-setup + .footer {
  margin-left: 0 !important;
}

.page-register,
.page-login,
.page-home,
.page-user-profile,
.page-post,
.page-settings {
  margin-top: 88px !important;
}

.home-navbar-user-profile-picture {
  width: 90px;
  height: 90px;
  opacity: 1;
  border-radius: 100%;
  object-fit: cover;
  object-position: center;
  cursor: pointer;
  transition: opacity 0.7s ease 0s;
  box-shadow: none;
}

/* Feed */
.post {
  border-radius: 22px;
}

.feed-post-image {
  width: 100%;
  height: auto;
  max-height: 60vh;
  object-fit: cover;
  object-position: center;
  border-radius: 22px;
}

.feed-card-profile-picture {
  border-radius: 100%;
  object-fit: cover;
  object-position: center;
  width: 60px;
  height: 60px;
}

.post-user-info,
.dropdown-item {
  cursor: pointer;
}

.post-more-options-menu-button {
  cursor: pointer;
}

.post {
  height: fit-content;
}

/* Search Bar */
.has-search .form-control {
  padding-left: 38px;
}

.has-search .form-control-feedback {
  position: absolute;
  display: block;
  width: 2.375rem;
  height: 43px;
  line-height: 38px;
  text-align: center;
  pointer-events: none;
  color: #aaa;
}

#search-results {
  list-style: none;
  position: absolute;
  z-index: 1050 !important;
  min-width: 300px;
  max-width: 300px;
  background-color: #ffffff;
  border-radius: 0 0 5px 5px;
}

#search-results.hidden {
  visibility: hidden;
  display: none;
}

.search-result-text.ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
}

.search-result-profile-picture {
  width: 34px;
  height: 34px;
  object-fit: cover;
  object-position: center;
  border-radius: 100%;
}

.search-result-item {
  cursor: pointer;
  border-radius: 8px;
}

.search-result-item:hover {
  background-color: #e7e7e7;
}

.search-result-item:active {
  background-color: #cecece;
}

/* Create Post */
.post-modal-image-container {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.post-modal-image-container::before {
  content: "";
  display: block;
  padding-top: 100%;
}

#post-modal-image {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  object-position: center;
}

/* User Profile */
.user-profile-profile-picture {
  width: 177px;
  height: 177px;
  opacity: 1;
  border-radius: 100%;
  object-fit: cover;
  object-position: center;
  cursor: pointer;
  transition: opacity 0.7s ease 0s;
  box-shadow: none;
}

#user-profile-posts-amount {
  cursor: pointer;
}

/*  Post Page */
.post-page-image {
  border-radius: 22px;
  max-height: 66vh;
  object-fit: cover;
  object-position: center;
}

.page-post-profile-picture {
  width: 72px;
  height: 72px;
  opacity: 1;
  border-radius: 100%;
  object-fit: cover;
  object-position: center;
  cursor: pointer;
  transition: opacity 0.7s ease 0s;
  box-shadow: none;
}

/* Main */
main {
  margin-left: 400px !important;
}
