/* Register */

.register-form-container, 
.login-form-container {
  max-width: 432px;
}

/* Profile Setup */

.edit-profile {
  max-width: 420px;
}

.edit-profile-card {
  width: 100% !important;
}

.profile-picture-picker-image {
  height: 72px;
  width: 72px;
  object-fit: cover;
  object-position: center;
}

.choose-profile-picture-label:hover {
  cursor: pointer;
  pointer-events: all !important;
}

textarea {
  resize: none;
}

/* Login */

#login-error {
  display: none;
}

#login-error.visible {
  display: block;
}

/*  Sidebar */

.sidebar {
  margin-top: 88px !important;
  width: 400px !important;
}

.nav-item.active:after {
  content: "";
  width: 3px;
  height: 24px;
  background-color: var(--bs-gray-600) !important;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.nav-link {
  font-size: 1.1rem;
}

.nav-link-icon {
  font-size: 1.3rem;
}

/* Home */

.page-register,
.page-login {
  min-height: calc(100vh - (88px + 76px));
  max-height: calc(100vh - (88px + 76px));
}

.page-home, .page-settings {
  min-height: calc(100vh - 88px);
  margin-left: 400px !important;
}

.page-register, .page-login, .page-home, .page-settings {
  margin-top: 88px !important;
}

.home-navbar-user-profile-picture {
  width: 90px;
  height: 90px;
  opacity: 1;
  border-radius: 100%;
  object-fit: cover;
  object-position: center;
  cursor: pointer;
  transition: opacity 0.7s ease 0s;
  box-shadow: none;
}

/* Feed */

.post {
  max-width: 60%;
  border-radius: 22px;
}

.feed-post-image {
  width: 100%;
  height: auto;
  max-height: 500px;
  object-fit: cover;
  object-position: center;
  border-radius: 22px;
}

.feed-card-profile-picture {
  border-radius: 100%;
  object-fit: cover;
  object-position: center;
  width: 60px;
  height: 60px;
}


.post-user-info {
  cursor: pointer;
}

/* Search Bar */

.has-search .form-control {
  padding-left: 38px;
}

.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 43px;
  line-height: 38px;
  text-align: center;
  pointer-events: none;
  color: #aaa;
}

/* Create Post */

.file {
  visibility: hidden;
  position: absolute;
}

.create-post-image-container {
  width: 100%;
  height: 300px;
  cursor: pointer;
}

#create-post-image {
  background-image: ".././images/image-add.png";
  background-size: cover;
  background-position: center;
  object-fit: cover;
  object-position: center;
}
